*{
    box-sizing: border-box;
}

body{
    margin:50px;
    font-size:17px;
}

p{
    color:#0000FF;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    letter-spacing: 1.3px;
    line-height: 1.5rem;
    text-shadow:0px 2px 3px #FF0000;
}

p > a{
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}
p > a:hover{
    text-decoration: underline;
    font-size: 23px;
    
}